<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/static/css/check_user_pw.css?v=1.0.0">
    <script defer src="/static/js/check_user_pw.js?v=1.0.0"></script>
</head>
<body>
    <div class="title">
        <img src="/static/images/main_logo.png" alt="Main Logo"><br>
        <h2>비밀번호 변경</h2>
    </div>
    <div class="container">
        <form id="passwordCheckForm">
            <label for="current_password">기존 비밀번호</label>
            <input type="password" id="current_password" name="current_password" placeholder="기존 비밀번호 입력" required>
            <button type="submit" onclick="handlePWCheck(event)">비밀번호 확인</button>
        </form>
    </div>
</body>
</html>
