<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Trade 충전 페이지</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/coin_charge.css?v=1.1.1">
    <!-- Link to external JS -->
    <script defer src="/static/js/coin_charge.js?v=1.1.1"></script>

</head>
<body>

    <!-- 상단 메뉴바 -->
    <div class="header">
        <img src="/static/images/main_logo.png" alt="Main Logo">
        <div class="header-menu">
            <button id="quest-btn" onclick="link_quest(event)">퀘스트 등록</button>
            <button id="inquiry-btn" onclick="link_inquiry(event)">문의하기</button>
            <button id="charge-btn">충전하기</button>
            <button id="exchange-btn" onclick="link_coin_exchange(event)">환전하기</button>
            <button id="logout-btn" onclick="logout(event)">로그아웃</button>
        </div>
    </div>

    <div class="container">
        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <p>name: TT</p>
            <p>coin: 100c</p>
            <p>friend: 40</p>
            <p>inquiry: n</p>
        </div>

        <!-- 메인 내용 -->
        <div class="main-content">
            <form class="coin-charge-form" onsubmit="handleCoinCharge(event)">
                <h2 id="coin-balance">내 보유 코인: 0 ¢;</h2>

                <label for="coin-input">충전하고 싶은 코인</label>
                <input type="number" id="coin-input" placeholder="100¢ 단위로 입력해 주세요" required min="100" step="100"><br>

                <label for="deposit-select">충전 수단 선택</label>
                <input type="button" id="deposit-select" value="충전 수단 선택"><br>

                <label><input id="caution-check" type="checkbox" required> 충전시 주의사항을 모두 읽었습니다.</label><br>
                <label><input id="term-condition-check" type="checkbox" required> 배정 약관에 모두 동의합니다.</label><br>

                <button class="coin-charge-submit" type="submit">충전하기</button>
            </form>
        </div>
    </div>

</body>
</html>
