<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Trade 페이지</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/exchange.css?v=1.0.0">

    <script defer src="/static/js/exchange.js?v=1.0.0"></script>

</head>
<body>

    <!-- 상단 메뉴바 -->
    <div class="header">
        <img src="/static/images/main_logo.png" alt="Main Logo">
        <div>
            <button class="button" onclick="location.href='quest_page.html'">퀘스트 등록</button>
            <button class="button" onclick="location.href='inquiry_page.html'">문의하기</button>
            <button class="button" onclick="location.href='exchange_page.html'">환전하기</button>
            <button class="button" onclick="location.href='login_page.html'">로그인</button>
        </div>
    </div>

    <div class="container">
        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <p>name: TT</p>
            <p>coin: 100c</p>
            <p>friend: 40</p>
            <p>inquiry: n</p>
        </div>

        <!-- 메인 내용 -->
        <div class="main_content">
            <form class="exchange_form" onsubmit="handleExchange(event)">
                <h2 id="coin_balance">내 보유 코인: 0 ¢;</h2>

                <label for="coin_input">환전하고 싶은 코인</label>
                <input type="number" id="coin_input" placeholder="put number in W" required min="1" step="1"><br>

                <label for="wallet_select">결제 수단 선택</label>
                <input type="button" id="wallet_select" value="결제 수단 선택"><br>

                <label><input id="caution_check" type="checkbox" required> 환전시 주의사항을 모두 읽었습니다.</label><br>
                <label><input id="term_condition_check" type="checkbox" required> 배정 약관에 모두 동의합니다.</label><br>

                <button type="submit">환전하기</button>
            </form>
        </div>
    </div>

</body>
</html>
