<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Trade 문의하기</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/inquiry.css?v=1.1.0">

    <script defer src="/static/js/inquiry.js?v=1.1.0"></script>
</head>
<body>

    <!-- 상단 메뉴바 -->
    <div class="header">
        <img src="/static/images/main_logo.png" alt="Main Logo">
        <div class="header-menu">
            <button id="quest-btn" onclick="link_quest(event)">퀘스트 등록</button>
            <button id="inquiry-btn">문의하기</button>
            <button id="charge-btn" onclick="link_coin_charge(event)">충전하기</button>
            <button id="exchange-btn" onclick="link_coin_exchange(event)">환전하기</button>
            <button id="logout-btn" onclick="logout(event)">로그아웃</button>
        </div>
    </div>

    <div class="container">
        <!-- 왼쪽 사이드바 -->
        <div class="sidebar">
            <p>name: TT</p>
            <p>coin: 100c</p>
            <p>friend: 40</p>
            <p>inquiry: n</p>
        </div>

        <!-- 메인 내용 -->
        <div class="main-content">
            <h2>문의하기</h2>
            <form class="inquiry-form" onsubmit="handleInquiry(event)">
                <label for="inquiry-title">문의 제목</label>
                <input type="text" id="inquiry-title" placeholder="type inquiry title" required><br>

                <label for="inquiry-content">문의 내용</label>
                <textarea id="inquiry-content" rows="5" placeholder="type inquiry main context" required></textarea><br>

                <div id="contact-method" class="contact-method">
                    <label><input type="radio" name="contact-method" value="text" required> 문자</label>
                    <label><input type="radio" name="contact-method" value="email"> e-mail</label>
                </div>
                <button class="inquiry-submit" type="submit">문의 보내기</button>
            </form>

        </div>
    </div>

</body>
</html>
