<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Trade</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/static/css/main.css">

    <script defer src="/static/js/main.js"></script>

</head>
<body>

    <div class="header">
        <img src="/static/images/main_logo.png" alt="Main Logo">

        <div class="header-buttons">
            <form action='/quest' method='get'>
                <button type="submit">퀘스트 등록</button>
            </form>
            <form action='/inquiry' method='get'>
                <button type="submit">문의하기</button>
            </form>
            <form action='/exchange' method='get'>
                <button type="submit">환전하기</button>
            </form>
            <form action='/login_page' method='get'>
                <button id="login-btn" type="submit">로그인</button>
            </form>
            <button id="logout-btn" onclick="logout()">로그아웃</button>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <div id="state_login" class="state_login">
                <p>name: TT</p>
                <p>coin: 100c</p>
                <p>friend: 40</p>
                <p>inquiry: n</p>
            </div>
            <form id="login_link" action="/login_page" method="get">
                <!-- This is the clickable text styled as a link -->
                <span class="submit-text" onclick="document.getElementById('login_link').submit()">로그인을 하세요</span>
            </form>
        </div>

        <div class="main">
            <div class="fixed-boxes">
                <div>
                    <h3>퀘스트 목록</h3>
                    <button class="button">퀘스트 1</button>
                    <button class="button">퀘스트 2</button>
                </div>
                <div>
                    <h3>실시간 인기 퀘스트 주제</h3>
                    <ul>
                        <li>tiktok lite</li>
                        <li>google</li>
                        <li>instagram follow</li>
                    </ul>
                </div>
            </div>

            <!-- 추가 페이지 내용을 여기에 표시 -->
        </div>
    </div>

</body>
</html>
