body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* 상단 헤더 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.header img {
    width: 70px;
    height: 50px;
}
.container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* 왼쪽 사이드바 */
.sidebar {
    width: 20%; /* 사이드바 너비 */
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0; /* 둥근 모서리 제거 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.sidebar p {
    margin: 10px 0;
}
/* 메인 내용 */
.main_content {
    width: 80%; /* 메인 콘텐츠 너비 */
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0; /* 둥근 모서리 제거 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main_content h2 {
    margin-bottom: 20px;
}
input[type="text"], input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 0; /* 둥근 모서리 제거 */
}
input[type="button"] {
    width: 95%;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 0; /* 둥근 모서리 제거 */
    cursor: pointer;
    margin: 10px 0;
}
input[type="button"]:hover {
    background-color: #007B9E;
}
label {
    display: block;
    margin-top: 10px;
}
.button {
    margin: 5px;
    padding: 10px;
    background-color: #d0d0d0;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: #c0c0c0;
}
button[type="submit"] {
    width: 95%;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 0; /* 둥근 모서리 제거 */
    cursor: pointer;
    margin: 10px 0;
}
button[type="submit"]:hover {
    background-color: #007B9E;
}
