body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 10px;
}
.header img {
    width: 70px;
    height: 50px;
}
.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.header-buttons button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
.header-buttons form {
    margin: 0;
}
.header-buttons button:hover {
    background-color: #c0c0c0;
}
.button {
    margin: 5px;
    padding: 10px;
    background-color: #d0d0d0;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: #c0c0c0;
}
.container {
    display: flex;
    flex-direction: row;
}
.sidebar {
    width: 20%;
    padding: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
.main {
    width: 80%;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
}
/* New row of boxes */
.box-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.box-row .box {
    width: calc(20% - 10px);
    height: 80px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
}
/* Pagination buttons */
.pagination-buttons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 5px;
}
.pagination-buttons button {
    background-color: #d0d0d0;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
}
/* Dropdown for sorting */
.sort-dropdown {
    position: absolute;
    top: 110px; /* Box5 바로 위에 위치하도록 조정 */
    right: 0;
}
.fixed-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.fixed-boxes > div {
    width: 48%;
    margin: 10px 0;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}
.sidebar .submit-text {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.sidebar .submit-text:hover {
    cursor: pointer; /* Change cursor */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a 3D shadow effect */
    transform: scale(1.05); /* Slightly scale the text for a pop effect */
}
